.img-responsive{
    border-radius: 300px;
    height: 200px;
    transform: scale(1.1);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    
}

body{
    margin-top: 50px;
    background-color: rgba(17, 217, 144, 0.715);
    text-align: center;
    
}